/* Typography */

html, body {
	font-family: 'Foo Bar', sans-serif;
}

/* specificity wrapper for Gutenberg block editor preview */
body div {}
body div h1 {
	font-family: 'Baz';
	color: var(--color-secondary);
	margin-bottom: var(--gap-default);
}
