/* Typography */

html, body {
	font-family: 'Foo Bar', sans-serif;
}

// Ensure specificity to override parent theme styles!
// This makes the theme more robust by not relying on the loading order of style files.

body { // use nesting so that the specificity wrapper only needs to be edited once
	h1 {
		font-family: 'Baz';
		color: $brand-secondary;
		margin-bottom: $defaultGap;
	}

}
