/* Typography */

html, body {
	font-family: 'Foo Bar', sans-serif;
}

// Ensure specificity to override parent theme styles!
// This makes the theme more robust by not relying on the loading order of style files.
// "body" would be replaced by the .editor-styles-wrapper in the backend which is added anyway, so no higher specificity
// "main" on the other hand is below the header, but "main,header" would add unnecessarily complex selectors
// so we might rather have some redundant styles for the few elements that also appear in the header.
// Only problem: there is no "main" element below the editor-styles-wrapper.
// TODO: better workaround than body div ?

body div { // use nesting so that the specificity wrapper only needs to be edited once
	h1 {
		font-family: 'Baz';
		color: $brand-secondary;
		margin-bottom: $defaultGap;
	}
}
