/* Variables and Mixins */

/* sizes */
/* header, footer etc. will not be wider than a fixed maximum width: */
$heroMaxWidth: 1234px;
$defaultGap: 1rem;

/*
 * brand colors, typography, preferences
 * hover state adds 8% black / 8% white respectively
 * fonts: see: src/components/typography/typography.scss
 */

$brand-primary: chartreuse;
$brand-secondary: rebeccapurple;
$semantic-error: red;

/* Layers */
// $z-index-close-button-above-menus: 999;

/* page content: unset */

/* Breakpoints by viewport width, compatible to Bootstrap */
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
	heroWidth: $heroMaxWidth,
);

/* comment usage and parameters */
@mixin foo {
	// some css
	@include bar(baz) {
		// more css
	}
}
