/* Buttons */

/* Override Gutenberg / WP core / parent theme styles affecting default markup */
/* Don't use a. Links are not a elements in the block editor preview! */
.wp-block-button  .wp-block-button__link,
.wp-block-button  .wp-block-button__link:not(.has-background) {
	color: inherit;
	background-color: inherit;
	border: none;
	border-radius: 0;
	padding: 0;
	margin: 0;
}
